@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Sriracha&display=swap');

:root {
    --primary-color: rgb(17, 106, 134);
    --primary-color-darker: rgb(14, 79, 100);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: var(--primary-color); */
    background-image: linear-gradient(to left, #45214A, #323050, #21445B);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;

}

.container {
    width: 640px;
    margin: 230px auto;
    background-color: white;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 1px 1px 7px black;
    
}

.relogio {
    font-size: 3em;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 30px;
    height: 80px;
    border: 3px solid rgba(0, 0, 0, 0.611);
}

.iniciar {
    border-radius: 50px;
    width: 120px;
    height: 42px;
    margin: 20px;
}

.pausar {
    border-radius: 50px;
    width: 120px;
    height: 42px;
    margin: 20px;
}

.zerar {
    border-radius: 50px;
    width: 120px;
    height: 42px;
    margin: 20px;
}

.pausado {
    color: red;
    border: 1px solid red;
}
.pausadob {
    color: white;
    background-color: rgba(255, 0, 0, 0.601);
    border: 1px solid red;
}
.iniciar:hover {
    background-color: rgba(63, 141, 39, 0.382);
}

.pausar:hover {
    background-color: rgba(163, 61, 61, 0.579);
}

.zerar:hover {
    background-color: rgba(17, 5, 5, 0.459);
}
.iniciar:active {
    background-color: rgba(94, 66, 66, 0.089);
}
.pausar:active {
    background-color: rgba(94, 66, 66, 0.089);
}
.zerar:active {
    background-color: rgba(94, 66, 66, 0.089);
}